/* You can add global styles to this file, and also import other style files */

main a{
  text-decoration: unset;
  color: #781eff;
}
main a:visited{
  color: #781eff;
}
main a:hover{
  color: #9a54ff;
}

.navbar{
  background-color: #673ab7 !important;
}

.wrapper{
  height: calc(100vh - 56px);
}

.login{
  width: 450px;
  padding: 35px;
  border: 1px solid #c2c6cb;
  border-radius: 8px;
  background-color: white;
}

.login .logo{
  width: 135px;
}

.login a{
  font-size: 14px;
}

.mat-form-field-infix{
  font-size: 14px;
}

.green-snackbar {
  background: #2ec801;
}

.red-snackbar {
  background: #c80108;
}

.mat-simple-snackbar-action {
  color: #131313 !important;
}

.Back {
  position: absolute;
  top:50%;
  right: 0;
}
