<div class="container">
  <h1>View Post</h1>

  <div class="button d-flex justify-content-end">
    <button (click)="Back()" mat-flat-button color="primary">Back</button>
  </div>
  <div class="info-wrap">
    <mat-label><strong>Id: </strong></mat-label>
    <p>{{id}}</p>
  </div>

  <div class="info-wrap">
    <mat-label><strong>Title: </strong> </mat-label>
    <p>{{title}}</p>
  </div>

  <div class="info-wrap">
    <mat-label><strong>Body: </strong></mat-label>
    <p>{{body}}</p>
  </div>
</div>